.col-border {
  border-right: 1px rgb(170, 170, 170) dotted;
}

.balance-container {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

ul {
  text-align: left;
  list-style-type: none;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #2d3436;
}

.homepage-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5%;
}

.homepage-link {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.homepage-link:hover {
  text-decoration: underline;
}
